#bg {
  position: fixed;
  top: 0;
  left: 0;
}

.text {
  position: absolute;
  color: white;
  
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
  list-style: none;
}

ul > li {
  
}
